{% extends 'admin/dashboard.html' %}

{% block content %}

<div class="container mt-5">

    <h1>Editar Evento</h1>

    <form method="POST">

        <!-- Título -->

        <div class="mb-3">

            <label>Título</label>

            <input
                type="text"
                class="form-control"
                name="titulo"
                value="{{ evento.titulo }}"
                required
            >

        </div>

        <!-- Descrição -->

        <div class="mb-3">

            <label>Descrição</label>

            <textarea
                class="form-control"
                name="descricao"
                rows="5"
                required>{{ evento.descricao }}</textarea>

        </div>

        <!-- Data -->

        <div class="mb-3">

            <label>Data</label>

            <input
                type="date"
                class="form-control"
                name="data"
                value="{{ evento.data }}"
                required
            >

        </div>

        <!-- Hora -->

        <div class="mb-3">

            <label>Hora</label>

            <input
                type="time"
                class="form-control"
                name="hora"
                value="{{ evento.hora }}"
                required
            >

        </div>

        <!-- Botão -->

        <div class="mb-5">

            <button class="btn btn-warning">
                Atualizar Evento
            </button>

        </div>

    </form>

</div>

{% endblock %}