{% extends 'admin/dashboard.html' %}

{% block content %}

<div class="container py-5">

    <!-- Título -->

    <div class="mb-4">

        <h1 class="text-center text-md-start">

            Pedidos de Oração

        </h1>

        <p class="text-muted text-center text-md-start">

            Visualize os pedidos enviados pelo site.

        </p>

    </div>

    <!-- Card -->

    <div class="card shadow border-0">

        <div class="card-body">

            <!-- Responsividade -->

            <div class="table-responsive">

                <table class="table table-bordered table-hover align-middle">

                    <thead class="table-dark">

                        <tr>

                            <th width="220">

                                Nome

                            </th>

                            <th width="280">

                                Email

                            </th>

                            <th>

                                Pedido

                            </th>

                        </tr>

                    </thead>

                    <tbody>

                        {% for pedido in pedidos %}

                        <tr>

                            <!-- Nome -->

                            <td class="fw-bold">

                                <i class="bi bi-person-circle"></i>

                                {{ pedido.nome }}

                            </td>

                            <!-- Email -->

                            <td>

                                <i class="bi bi-envelope"></i>

                                {{ pedido.email }}

                            </td>

                            <!-- Pedido -->

                            <td>

                                {{ pedido.pedido }}

                            </td>

                        </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

{% endblock %}